html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    height: 100%;
}
body{
    margin: 0;
    background: linear-gradient(rgb(241, 255, 158),rgb(100, 83, 252));
}

header{
    position: fixed;
    margin: 0;
    background-color: rgb(241, 255, 158);
    color: white;
    width: 100%;
    top: 0;
}

h1{
    background-color: rgb(50, 56, 139);
    margin: 0 0 0.5% 0;
    padding: 0 0 0.5% 1%;
}
p {
    margin: 0;
 }
nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(50, 56, 139);
    width: 100%;
    overflow-y: hidden;
    justify-content: center;
    padding: 0.3% 0;
}

nav > div:nth-child(1){
    color: white;
    width: 50%;
    text-align: left;
    padding: 0 0 0 1%;
    overflow: hidden;
    white-space: nowrap;
}

nav > div:nth-child(2){
    text-decoration: none;
    width: 50%;
    text-align: right;
    padding: 0 1% 0 0;
}

a ~ span {
    margin: 0 2%;
} 

a:visited{
    color:white;
}

a:hover{
    color: black;
    background: linear-gradient(rgb(50, 56, 139), rgb(241, 255, 158));
}

span ~ a{
    text-decoration: none;
}

body > div {
    background-color: inherit;
    height: 100%;
    margin: 5% 0 0 0;
    padding: 5% 0%;
}

#primeraSeccion{
    display: flex;
    flex-direction: row-reverse;
}

#primeraSeccion > div:nth-child(2){
    color: white;
    width: 50%;
    margin: 0 1% 0 0;
    background-color: rgb(100, 83, 252);
    padding: 2% 2%;
}

h2{
    margin: 0;
}

#primeraSeccion > div:first-child{
    width: 50%;
    height: min-content;
    margin: 0 0 0 1%;
    background-color: rgb(100, 83, 252);
    padding: 1%;
}

#imagenesArt{
    margin-top: 5%;
    display: flex;
}

.imgart{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.imgart > img{
    width: 30%;
    margin: 0;
}

input{
    width: 100%;
}

#segundaSeccion{
    position: absolute;
    background-color: rgb(100, 83, 252);
    width: 48%;
    left: 52%;
    top: 18%;
}

#imgPrinc{
    text-align: center;
    padding: 5% 0 10% 0;
    
}

#imgPrinc > img {
    width: 70%;
    background-color: rgb(66, 78, 74);
}

#imgPrinc ~ div {

}