html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    height: 100%;
}

body{
    color: white;
    margin: 5vh 0vw;
    background: linear-gradient(rgb(255, 229, 158),rgb(100, 83, 252));
}

header{
    position: fixed;
    margin: 0;
    background-color: rgb(255, 229, 158);
    color: white;
    width: 100%;
    top: 0;
}

h1{
    background-color: rgb(50, 56, 139);
    margin: 0 0 0.5% 0;
    padding: 0 0 0.5% 1%;
}

p {
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(50, 56, 139);
    overflow: hidden;
    justify-content: center;
    padding: 0.3% 0;
}

nav > div:nth-child(1){
    color: white;
    width: 90%;
    text-align: left;
    padding: 0 0 0 1%;
    overflow: hidden;
    white-space: nowrap;
}

nav > div:nth-child(2){
    text-decoration: none;
    width: 10%;
    text-align: right;
    padding: 0 1% 0 0;
}

a ~ span {
    margin: 0 2%;
} 

a:visited{
    color:white;
}

a:hover{
    color: black;
    background: linear-gradient(rgb(50, 56, 139), rgb(255, 229, 158));
}

span ~ a{
    text-decoration: none;
}

h2{
    margin: 0;
}

header ~ div{
    display: flex;
    flex-direction: row;
    background-color: inherit;
    height: 100%;
    margin: 12vh 0 12vh 0;
}

.col{
    width: 50%;
    height: min-content;
    background-color: inherit;
    padding: 1vh 0 1vh 0;
}

.coli{
    margin-right: 0.5vw;
}

.cold{
    margin-left: 0.5vw;
}

.coli > div:first-child{
    position: static;
    background-color: rgb(100, 83, 252);
    padding: 2vw;
}

.cold > div:first-child{
    position: static;
    background-color: rgb(100, 83, 252);
    margin-bottom: 2vh;
    padding: 1vh;
}

#imagenesArt{
    margin-top: 5%;
    display: flex;
}

.imgart{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.imgart > img{
    width: 10vw;
    margin: 0;
}

input{
    width: 99%;
}

#imgPrinc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 0 10% 0;
    background-color: rgb(100, 83, 252);
}

#imgPrinc > div > img {
    width: 25vw;
    background-color: rgb(140, 156, 151); 
}
 
#imgPrinc > div:nth-child(2) {
    width: 25vw;
    padding: 2vh 0 0 0;
    text-align: left;
    overflow: auto;
}