html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    height: 100%;
}

body{
    color: white;
    margin: 5vh 0vw;
    background: rgb(255, 229, 158);
}

header{
    position: fixed;
    margin: 0;
    background-color: rgb(255, 229, 158);
    color: white;
    width: 100%;
    top: 0;
}

h1{
    background-color: rgb(50, 56, 139);
    margin: 0 0 0.5% 0;
    padding: 0 0 0.5% 1%;
}

p {
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(50, 56, 139);
    overflow: hidden;
    justify-content: center;
    padding: 0.3% 0;
}

nav > div:nth-child(1){
    color: white;
    width: 90%;
    text-align: left;
    padding: 0 0 0 1%;
    overflow: hidden;
    white-space: nowrap;
}

nav > div:nth-child(2){
    text-decoration: none;
    width: 10%;
    text-align: right;
    padding: 0 1% 0 0;
}

a ~ span {
    margin: 0 2%;
} 

a:visited{
    color:white;
}

a:hover{
    filter:invert(1);
    
}

span ~ a{
    text-decoration: none;
}

h2{
    margin: 0;
}

header ~ div{
    display: flex;
    flex-direction: row;
    background-color: inherit;
    height: 80%;
    margin: 11vh 0 5vh 0;
}

.col{
    width: 50%;
    background-color: inherit;
    padding: 1vh 0 1vh 0;
}

.coli{
    margin-right: 0.5vw;
    height: 100%;
}

.cold{
    margin-left: 0.5vw;
    height: 100%;
}

.coli > div:first-child{
    position: static;
    background-color: rgb(100, 83, 252);
    padding: 2vw;
}

.cold > div:first-child{
    position: static;
    background-color: rgb(100, 83, 252);
    margin-bottom: 2vh;
    padding: 1vh;
}

#imagenesArt{
    margin-top: 5%;
    display: flex;
}

.imgart{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.imgart > img{
    width: 10vw;
    margin: 0;
}

input{
    width: 46vw;
}

#imgPrinc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3vh 0 3vh 0;
    background-color: rgb(100, 83, 252);
}

#imgPrinc > div > img {
    width: 25vw;
    background-color: rgb(140, 156, 151); 
}
 
#imgPrinc > div:nth-child(2) {
    width: 25vw;
    padding: 2vh 0 0 0;
    text-align: left;
    overflow: auto;
}

.coli > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 3vh 4vw 1vh 4vw;
    background-color: rgb(43, 34, 117);
    margin-top: 2vh;
    height: 60vh;
}

h2 ~ a{
    display: flex;
    flex-direction: row;
    background-color: rgb(140, 131, 211);
    margin: 1vh 0vw 1vh 0vw;
    text-decoration: none;
    height: 25%;
}

.descArt{
    padding: 0 0 0 3vw;
}

#titleArt{
    margin:0 0 2vh 0;
}

#imgArt2{
    width: 10vw;
}

.cold > div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 51, 153);
    margin: 2vh 0 2vh 0;
    width: 100%;
    height: 16vh;
}

.cold > div:nth-child(3) > a{
    text-decoration: none;
}

.cold > div:nth-child(4){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 19vh;
}

.cold > div:nth-child(4) > div:nth-child(1){
    width: 48%;
    height: 100%;
    background-color: rgb(78, 51, 153);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cold > div:nth-child(4) > div:nth-child(2){
    width: 48%;
    height: 100%;
    background-color: rgb(78, 51, 153);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: rgb(43, 34, 117);
    height: 10vh;
    align-items: center;
    text-align: center;
}

