body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    position: absolute;
    top: 2%;
    margin: 0 2vw 0 2vw;
    list-style: none;
    padding: 1%;
}

li:first-child{
    background-color: aquamarine;
    top: 2%;
    left: 4%;
}


li:nth-child(2){
    background-color: dodgerblue;
    color: white;
    top: 2%;
    left: 14%;
}

li:nth-child(3){
    background-color: chartreuse;
    top: 2%;
    left: 24%;
}

#primer:target{
    z-index: 1;
}

#segun:target{
    z-index: 1;
}

#terc:target{
    z-index: 1;
}
#primer{
    background-color: aquamarine;
    clear: both;
}

#segun{
    background-color: dodgerblue;
}

#terce{
    background-color: chartreuse;
}

ul ~ div{
    position: absolute;
    background-color: antiquewhite;
    width: 30%;
    height: 20%;
    top: 8%;
    left: 3%;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

a:hover{
    color:black;
}

#primer > div:nth-child(1){
    float:left;
}

#primer > div:nth-child(2){
    float:right;
}