body{
    margin: 0;
}

.topHeader {
    text-align: right;
    background-color: rgb(48, 48, 48);
    color: antiquewhite;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-weight: 100;
}

#topHeaderOption {
    padding-left: 1%;
    
} #topHeaderOption:hover{ color: white; }

.bottomHeader{
    margin-top: 1px;
    background-color: rgb(48, 48, 48);
}

.divBottomHeader{
    display: inline;
    text-align: center;
}

.div3BottomHeader{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    display: inline;
}

#iconoMenuHeader{
    width: 30px;
    padding-left: 2%;
    padding-bottom: 20px;
}


#iconoAppleHeader{
    width: 150px;
    padding-left: 5px;
}

#bottomHeaderOption{
    padding-left: 2%;
}



