@font-face {
    font-family: Harmonia-Sans;
    src: url(Imagenes/fonts/Harmonia-Sans-Font/Harmonia\ Sans\ W01\ Bold.ttf);
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: Harmonia-Sans;

}

.headerGlobal {
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: white;
    z-index: 999;
}

.topHeader {
    text-align: right;
    width: 100%;
    background-color: #085494;
    color: rgb(215, 223, 250);
    font-weight: 500;
}

#topHeaderOption {
    font-size: small;
    padding-left: 1%;
    margin-right: 2%;

}

#topHeaderOption:hover {
    color: white;
}

.bottomHeader {
    width: 100%;
    margin-top: 1px;
    background-color: #085494;
    display: flex;
    align-items: center;
}

.divBottomHeader {
    align-items: center;
}

.div2BottomHeader {
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.div3BottomHeader {
    font-size: large;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#bottomHeaderOption {
    padding-right: 2%;
    color: whitesmoke;
}

#bottomHeaderOption:hover {
    color: white;
}

#iconoMenuHeader {
    width: 35%;
    margin-left: 40px;
}


#iconoAppleHeader {
    width: 60%;
    -webkit-filter: invert();
    filter: invert();
}

.div4BottomHeader {
    display: flex;
    float: right;
}

#iconoLupa,
#iconoBolsa,
#iconoLogin {
    width: 40%;
    display: inline;
}

.bannerPrincipal {
    margin-top: 5%;
    height: 600px;
    display: flex;
}

#divPremio {
    display: flex;
    width: 25%;
    background-image: url(Imagenes/OtherImages/premioImagen.png);
    background-color: black;
    background-size: cover;
    color: white;
    flex-direction: column;
    align-items: center;

}

#divBanner {
    width: 75%;
    background: black url(Imagenes/OtherImages/hero_iphone15pro__i70z9oz3hj2i_mediumtall.jpg) left;
    background-size: cover;
    color: white;
}

#textoPremio {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 11%;
}

#imgPremio {
    width: 70%;
    margin-left: 14%;
    border-radius: 20%;
    transition: transform .5s;
}

#imgPremio:hover {
    transform: rotate(360deg);
}

#button {
    margin-top: 20%;
    background: linear-gradient(to right, rgb(0, 195, 255), rgb(0, 132, 255));
    border-radius: 20px;
    padding: 10px;
    z-index: 999;
}

#buttonText {
    font-family: Harmonia-Sans;
    color: white;
    padding-right: 40px;
    padding-left: 40px;
    font-weight: 400;

}

#textoBanner {
    margin-left: 5%;
    font-size: 25px;
}

#textoBanner>#titulo {
    font-size: 40px;
    margin-top: 4%;
    margin-bottom: 2%;
}

#botonVotar {
    color: rgb(0, 0, 0);
    background-color: rgb(243, 243, 243);
    margin-top: 20px;
    border-radius: 20px;
}


.mejorProducto {
    display: flex;
    flex-direction: row;
}

#textoMejorProducto {
    margin-top: 50px;
    margin-left: 5%;
    font-size: 25px;
    font-weight: lighter;
}

#imagenListado {
    border-radius: 10px;
    width: 100%;
    outline: auto;
    transition: transform .2;
}

#imagenListado:hover {
    transform: scale(1.1)
}

#listadoMejorProducto {
    display: flex;
}

#bloqueMejorProducto {
    margin-left: 5%;
    font-weight: 500;
}

#textoNoticias {
    margin-top: 100px;
    margin-left: 5%;
    font-size: 30px;
    font-weight: 600;
}

.noticias {
    display: flex;
    padding-bottom: 2%;
    margin-left: 5%;
}

#noticiaPrincipal {
    width: 50%;
    overflow: hidden;
}

#noticiasSecundarias {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

#imagenNoticiaPrincipal {
    width: 90%;
    height: auto;
    border-radius: 20px;
}

#imagenNoticiaSecundaria {
    width: 80%;
    height: 60%;
    border-radius: 20px;
    outline: auto;
}

.footer1 {
    color: whitesmoke;
    background-color: rgb(2, 15, 42, 255);
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}

.footer2 {
    color: whitesmoke;
    height: 100px;
    background-color: rgb(2, 15, 42, 255);
    display: flex;
    align-items: center;
}

#redesSociales {
    margin-left: 38%;
}

#descargas {
    margin-left: 30%;
}