body{
    margin: 0;
    background-color: whitesmoke;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu;
}

.topHeader {
    text-align: right;
    background-color: rgb(10, 10, 10);
    color: rgb(250, 235, 215);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu;
    font-weight: 100;
}

#topHeaderOption {
    font-size: small;
    padding-left: 1%;
    margin-right: 2%;
    
} #topHeaderOption:hover{ color: white; }

.bottomHeader{
    margin-top: 1px;
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
}

.divBottomHeader{
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.div3BottomHeader{
    margin-left: 5%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu;
    font-size: large;
    width: 100%;
    font-weight: 500;
    align-items: center;
}

#bottomHeaderOption{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#iconoMenuHeader{
    width: 30px;
    padding-left: 40%;
    margin-right: 4px;
}


#iconoAppleHeader{
    width: 70px;
    padding-left: 20%;
}

.div4BottomHeader{
    display: flex;
    float: right;
}

#iconoLupa, #iconoWeb, #iconoLogin{
    width: 40%;
    display: inline;
}

.bannerPrincipal{
    height: 600px;
    display: flex;
    background-color: black;
}

#divPremio {
    display: block;
}

#divBanner {
    display: block;

}

#textoPremio {
    color: white;
    position: absolute;
    margin-top: 200px;
    display: block;
    width: 460px;
    text-align: center;
}

#botonVotar {
    color: rgb(0, 0, 0);
    background-color: rgb(243, 243, 243);
    margin-top: 20px;
    border-radius: 20px;
}

#textoBanner{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu;
    margin-left: 30px;
    margin-top: 420px;
    color: white;
    position: absolute;
    text-align: left;
}

.mejorProducto {
    display: flex;
    flex-direction: row;
}

#textoMejorProducto{
    margin-top: 50px;
    margin-left: 50px;
    font-size: larger;
    font-weight: 500;
}

#imagenListado{
    border-radius: 10px;
    outline: auto;
}

#textoListado{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu;
}

#listadoMejorProducto{
    display: flex;
}

#bloqueMejorProducto{
    margin-left: 100px;
    font-weight: 600;
}

#textoNoticias{
    margin-top: 100px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 600;
}

.noticias{
    display: flex;
}

#noticiaPrincipal {
    width: 50%;
}

#noticiasSecundarias {
    width: 50%;
    display: block;
}

#imagenNoticiaPrincipal{
    width: 850px;
    height: auto;
    margin-left: 50px;
    border-radius: 20px;
}

#noticiaSuperior{
    font-size: 20px;
    display: flex;
    margin-bottom: 40px;
}

#noticiaInferior{
    font-size: 20px;
    display: flex;
}

#noticiaSuperiorIzquierda{
    float:left;
    margin-right: 100px;
}

#noticiaSuperiorDerecha{
    float: right;
}

#noticiaInferiorIzquierda{
    margin-right: 100px;
    float: left;
}

#noticiaInferiorDerecha{
    float: right;
}

#imagenNoticiaSecundaria{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    outline: auto;
}

.footer1 {
    color: whitesmoke;
    background-color: rgb(59, 59, 59);
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}

.footer2 {
    color: whitesmoke;
    height: 100px;
    background-color: rgb(59, 59, 59);
    display: flex;
    align-items: center;
}

#redesSociales{
    margin-left: 38%;
}

#descargas {
    margin-left: 30%;
}